{% extends "base.html" %}

{% block title %}Liste des Propriétaires{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Liste des Propriétaires</h1>
    </div>
    <p>
        <a href="{% url 'nnf:ajout_proprietaire' %}" class="btn btn-primary">Ajouter un propriétaire</a>
        <table id="table"
               data-toggle="table"
               data-search="true"
               data-show-columns="true"
               data-pagination="true"
               data-page-size="25"
               data-page-list="[25, 50, 100, 250, 500, all]"
               data-response-handler="responseHandler">
            <thead>
                <tr>
                    <th data-field="nom" data-sortable="true">Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for p in proprietaires %}
                    <tr>
                        <td>
                            <a href="{% url 'nnf:detail_proprietaire' p.id %}">{{ p.nom }}</a>
                        </td>
                        <td class="text-center">
                            <a href="{% url 'nnf:modifier_proprietaire' p.id %}"
                               class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Modifier">
                                <span class="bi-pencil"></span>
                            </a>
                            <a href="{% url 'nnf:supprimer_proprietaire' p.id %}"
                               class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Supprimer">
                               <span class="bi-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </p>
</div>
{% endblock %}
