{% extends "base.html" %}

{% block title %}Navire - Vue détaillée{% endblock %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Vue détaillée: {{ navire.nom }}</h1>
        </div>
        <p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Attribut</th>
                        <th scope="col">Valeur</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nom</td>
                        <td>{{ navire.nom }}</td>
                    </tr>
                    <tr>
                        <td>Propriétaire</td>
                        {% if navire.proprietaire %}
                            <td>{{ navire.proprietaire }}</td>
                        {% else %}
                            <td>Inconnu</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Armateur</td>
                        {% if navire.armateur %}
                            <td>{{ navire.armateur }}</td>
                        {% else %}
                            <td>Inconnu</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Tonnage</td>
                        {% if navire.tonnage %}
                            <td>{{ navire.tonnage }}</td>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        <hr />
        <h3>Traversées</h3>
        <ul class="list-group">
            {% if links %}
                {% for t in traversees %}
                <li class="list-group-item pb-3 pt-3">
                    <h5 class="card-title">
                    {{ l.link_name }}
                    </h5>
                    <p class="card-text">
                        <a href="#" target="_blank" rel="noopener noreferrer">{{ l.link_url }}</a>
                    </p>
                </li>
                {% endfor %}
            {% else %}
                Pas de liens.
            {% endif %}
        </ul>
        <hr />
        </p>
        <p>
            <a href="{% url 'nnf:liste_navires' %}" class="btn btn-primary">Retour à la liste</a>
        </p>
    </div>
{% endblock %}
