{% extends "base.html" %}

{% block title %}Navire - Vue détaillée{% endblock %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Vue détaillée: {{ navire.nom }}</h1>
        </div>
        <p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Attribut</th>
                        <th scope="col">Valeur</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nom</td>
                        <td>{{ navire.nom }}</td>
                    </tr>
                    <tr>
                        <td>Propriétaire</td>
                        {% if navire.proprietaire %}
                            <td>{{ navire.proprietaire }}</td>
                        {% else %}
                            <td>Inconnu</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Armateur</td>
                        {% if navire.armateur %}
                            <td>{{ navire.armateur }}</td>
                        {% else %}
                            <td>Inconnu</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Tonnage</td>
                        {% if navire.tonnage %}
                            <td>{{ navire.tonnage }}</td>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Ajouté par</td>
                        <td>{{ navire.aud_crt_user.username }}</td>
                    </tr>
                    <tr>
                        <td>Ajouté le</td>
                        <td>{{ navire.aud_crt_ts }}</td>
                    </tr>
                    {% if navire.aud_upd_user %}
                        <tr>
                            <td>Mis à jour par</td>
                            <td>{{ navire.aud_upd_user.username }}</td>
                        </tr>
                        <tr>
                            <td>Mis à jour le</td>
                            <td>{{ navire.aud_upd_ts }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        <hr />
        <h3>Traversées</h3>
        <ul class="list-group">
            {% if traversees %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Maître</th>
                            <th scope="col">Origine</th>
                            <th scope="col">Date de départ</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Date de d'arrivée</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in traversees %}
                            <tr>
                                <td>
                                    {% if t.maitre %} {{ t.maitre.nom }}, {{ t.maitre.prenom }} {% else %} Inconnu {% endif %}
                                </td>
                                <td>
                                    {% if t.depart_lieu %} {{ t.depart_lieu }} {% else %} Inconnue {% endif %}
                                </td>
                                <td>
                                    {% if t.depart_date %}
                                        {{ t.depart_date }}
                                    {% elif t.depart_annee %}
                                        {{ t.depart_annee }}
                                    {% else %}
                                        Inconnue
                                    {% endif %}
                                </td>
                                <td>
                                    {% if t.arrivee_lieu %} {{ t.arrivee_lieu }} {% else %} Inconnue {% endif %}
                                </td>
                                <td>
                                    {% if t.arrivee_date %}
                                        {{ t.arrivee_date }}
                                    {% elif t.arrivee_annee %}
                                        {{ t.arrivee_annee }}
                                    {% else %}
                                        Inconnue
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Pas de traversée.
            {% endif %}
        </ul>
        <hr />
        </p>
        <p>
            <a href="{% url 'nnf:liste_navires' %}" class="btn btn-primary">Retour à la liste</a>
        </p>
    </div>
{% endblock %}
