{% extends 'base.html' %}

{% block title %}Modifier un nvire{% endblock %}
{% block content %}
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div>
                <div class="card-body">
                    <h1 class="card-title">Modifier un navire</h1>
                    {% if error %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <p class="card-text">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Modifier</button>
                            <a href="{% url 'nnf:liste_navires' %}" class="btn btn-primary">Annuler</a>
                        </form>
                    </p>
                    <hr>
                    <h2>Traversées</h2>
                    {% if traversees %}
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Départ</th>
                                    <th scope="col">Arrivée</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for t in traversees %}
                                    <tr>
                                        <td>
                                            {{ t.depart_annee }}
                                            {% if t.depart_lieu %}
                                                {{ t.depart_lieu }}
                                            {% else %}
                                                d'un lieu inconnu
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ t.arrivee_annee }}
                                            {% if t.arrivee_lieu %}
                                                {{ t.arrivee_lieu }}
                                            {% else %}
                                                vers un lieu inconnu
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'nnf:modifier_traversee' t.id %}"
                                               class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Modifier">
                                               <span class="bi-pencil"></span>
                                            </a>
                                            <a href="{% url 'nnf:supprimer_traversee' t.id %}"
                                               class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Supprimer">
                                               <span class="bi-trash"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Pas de traversée.</p>
                    {% endif %}
                    <a href="{% url 'nnf:ajout_traversee' navire.id %}" class="btn btn-primary">Ajouter une traversée</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
