{% extends "base.html" %}

{% block title %}Personne - Vue détaillée{% endblock %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Vue détaillée: {{ personne.nom }}, {{ personne.prenom }}</h1>
        </div>
        <p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Attribut</th>
                        <th scope="col">Valeur</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nom</td>
                        <td>{{ personne.nom }}</td>
                    </tr>
                    <tr>
                        <td>Prénom</td>
                        <td>{{ personne.prenom }}</td>
                    </tr>
                    <tr>
                        <td>Variation du nom</td>
                        <td>{% if personne.variation_du_nom %} {{ personne.variation_du_nom }} {% else %} Aucune {% endif %}</td>
                    </tr>
                    <tr>
                        <td>Liste</td>
                        <td>{{ personne.get_liste_display }}</td>
                    <tr>
                    <tr>
                        <td>Lieu d'origine</td>
                        <td>{% if personne.origine_lieu %} {{ personne.origine_lieu }} {% else %} Inconnu {% endif %}</td>
                    <tr>
                        <td>Titre</td>
                        <td>{% if personne.titre %} {{ personne.titre }} {% else %} Inconnu {% endif %}</td>
                    </tr>
                    <tr>
                        <td>Naissance</td>
                        <td>
                            {% if personne.naissance_date %}
                                {{ personne.naissance_date }}
                            {% elif personne.naissance_annee %}
                                {{ personne.naissance_annee }}
                            {% else %}
                                Inconnue
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Lieu de naissance</td>
                        <td>
                            {% if personne.naissance_lieu %}
                                {{ personne.naissance_lieu }}
                            {% else %}
                                Inconnu
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Décès</td>
                        <td>
                            {% if personne.deces_date %}
                                {{ personne.deces_date }}
                            {% elif personne.deces_annee %}
                                {{ personne.deces_annee }}
                            {% else %}
                                Inconnu
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Lieu de décès</td>
                        <td>
                            {% if personne.deces_lieu %}
                                {{ personne.deces_lieu }}
                            {% else %}
                                Inconnu
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            {% if personne.note_biographique %}
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Notes biographiques</h3>
                        <p class="card-text">{{ personne.note_biographique }}</p>
                    </div>
                </div>
            {% endif %}
        <hr />
        <h3>Voyages</h3>
            {% if voyages %}
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Voyage</th>
                            <th scope="col">Navire</th>
                            <th scope="col">Rôle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in voyages %}
                            <tr>
                                <td>{{ v.annee }}-{{ v.sequence }}</td>
                                <td>{{ v.traversee.navire.nom }}</td>
                                <td>{{ v.get_role_display }}</td>
                            </tr>
                        {% endfor %}
                   </tbody>
                </table>
            {% else %}
                Pas de voyage.
            {% endif %}
        <hr>
        <p>
            <a href="{% url 'nnf:liste_personnes' %}" class="btn btn-primary">Retour à la liste</a>
        </p>
    </div>
{% endblock %}
