{% extends 'base.html' %}

{% block title %}Modifier une personne{% endblock %}
{% block content %}
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div>
                <div class="card-body">
                    <h1 class="card-title">Modifier une personne: {{ personne.nom }}, {{ personne.prenom }}</h1>
                    {% if error %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <hr>
                    <h2>Voyages</h2>
                    {% if voyages %}
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Voyage</th>
                                    <th scope="col">Navire</th>
                                    <th scope="col">Rôle</th>
                                    <th scope="col">Destination</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for v in voyages %}
                                    <tr>
                                        <td>{{ v.annee }} - {{ v.sequence }}</td>
                                        <td>{{ v.traversee.navire.nom }}</td>
                                        <td>{{ v.get_role_display }}</td>
                                        <td>
                                            {% if v.traversee.arrivee_lieu %}
                                                Traversée vers {{ v.traversee.arrivee_lieu }}
                                            {% elif v.destination %}
                                                Voyage vers:{{ v.destination }}
                                            {% else  %}
                                                Inconnue
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'nnf:detail_voyage' v.id %}"
                                               class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Detail">
                                               <span class="bi-eye"></span>
                                            </a>
                                            <a href="{% url 'nnf:modifier_voyage' v.id %}"
                                               class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Modifier">
                                               <span class="bi-pencil"></span>
                                            </a>
                                            <a href="{% url 'nnf:supprimer_voyage' v.id %}"
                                               class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Supprimer">
                                               <span class="bi-trash"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Pas de voyage.</p>
                    {% endif %}
                    <a href="{% url 'nnf:ajout_voyage' personne.id %}" class="btn btn-primary">Ajouter un voyage</a>
                    <a href="{% url 'nnf:modifier_personne' personne.id %}" class="btn btn-primary">Modifier info de base</a>
                    <a href="{% url 'nnf:liste_personnes' %}" class="btn btn-primary">Retour</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
