{% extends "base.html" %}

{% block title %}Traversée - Vue détaillée{% endblock %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Vue détaillée: {{ traversee.depart_annee }}</h1>
        </div>
        <p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Attribut</th>
                        <th scope="col">Valeur</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Navire</td>
                        {% if traversee.navire %}
                            <td>{{ traversee.navire.nom }}</td>
                        {% else %}
                            <td>Inconnu</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Objectif</td>
                        {% if traversee.objectif %}
                            <td>{{ traversee.objectif }}</td>
                        {% else %}
                            <td>Inconnu</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Départ</td>
                        {% if traversee.depart_lieu %}
                            <td>{{ traversee.depart_lieu }}</td>
                        {% else %}
                            <td>Inconnu</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Date de départ</td>
                        <td>
                            {% if traversee.depart_date %}
                                {{ traversee.depart_date }}
                            {% elif traversee.depart_annee %}
                                {{ traversee.depart_annee }}
                            {% else %}
                                Inconnue
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Arrivée</td>
                        {% if traversee.arrivee_lieu %}
                            <td>{{ traversee.arrivee_lieu }}</td>
                        {% else %}
                            <td>Inconnue</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Date d'arrivée</td>
                        <td>
                            {% if traversee.arrivee_date %}
                                {{ traversee.arrivee_date }}
                            {% elif traversee.arrivee_annee %}
                                {{ traversee.arrivee_annee }}
                            {% else %}
                                Inconnue
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Destination</td>
                        {% if traversee.destination %}
                            <td>{{ traversee.destination }}</td>
                        {% else %}
                            <td>Inconnue</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Retour</td>
                        {% if traversee.retour %}
                            <td>{{ traversee.retour }}</td>
                        {% else %}
                            <td>Inconnu</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Autres navires</td>
                        <td>{{ traversee.nb_autres_navires }}</td>
                    </tr>
                    <tr>
                        <td>Ajouté par</td>
                        <td>{{ traversee.aud_crt_user.username }}</td>
                    </tr>
                    <tr>
                        <td>Ajouté le</td>
                        <td>{{ traversee.aud_crt_ts }}</td>
                    </tr>
                    {% if traversee.aud_upd_user %}
                        <tr>
                            <td>Mis à jour par</td>
                            <td>{{ traversee.aud_upd_user.username }}</td>
                        </tr>
                        <tr>
                            <td>Mis à jour le</td>
                            <td>{{ traversee.aud_upd_ts }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
            </table>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Note équipage/passagers</h3>
                    <p class="card-text">{{ traversee.notes_equipage_passagers }}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Observations</h3>
                    <p class="card-text">{{ traversee.observations}}</p>
                </div>
            </div>
        <hr />
        <h3>Passagers</h3>
        <ul class="list-group">
            {% if passagers %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Rôle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in passagers %}
                            <tr>
                                <td>
                                    <a href="#">{{ p.personne.nom }}, {{ p.personne.prenom }}</a>
                                </td>
                                <td>{{ p.get_role_display }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Pas de passagers.
            {% endif %}
        </ul>
        </p>
        <p>
            <a href="{% url 'nnf:liste_traversees' %}" class="btn btn-primary">Retour à la liste</a>
        </p>
    </div>
{% endblock %}
