{% extends 'base.html' %}

{% block title %}Modifier une traversée de navire{% endblock %}
{% block content %}
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div>
                <div class="card-body">
                    <h1 class="card-title">Modifier une traversée pour le {{ traversee.navire.nom }}</h1>
                    {% if error %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <p class="card-text">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Modifier</button>
                            <a href="{% url 'nnf:modifier_navire' traversee.navire.id %}" class="btn btn-primary">Annuler</a>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <h4>Autres navires dans la traversée</h4>
        {% if autres_navires %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for n in autres_navires %}
                        <tr>
                            <td>{{ n.navire.nom }}</td>
                            <td>
                                <a href="{% url 'nnf:detail_autre_navire_traversee' n.id  %}"
                                    class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Détail">
                                    <span class="bi-eye"></span>
                                </a>
                                <a href="{% url 'nnf:modifier_autre_navire_traversee' n.id %}"
                                    class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Modifier">
                                    <span class="bi-pencil"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Pas d'autre navire.</p>
        {% endif %}
        <a href="{% url 'nnf:ajout_autre_navire_traversee' traversee.id %}" class="btn btn-primary">Ajouter un navire</a>
    </div>
</div>
{% endblock content %}
